@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* GENERAL */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Noto Sans', sans-serif;
  padding-top: 80px;
}

.btn{
  padding: 10px 16px;
  background-color: #0061FF;
  display: inline-block;
}

/* utils */ 

.container{
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  /* togliere */
  height: 100%;
}

.container-2{
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  /* togliere */
  height: 100%;
}

.debug{
  border: 1px solid firebrick;
  background-color:bisque;
}

.d-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* HEADER */

header{
  background-color: white;
  height: 80px;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  box-shadow: 0 1px 3px grey;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

header nav .btn,
header nav .logo{
  display: inline;
}

header nav ul li a {
  color: #131313;
  text-decoration: none;
  font-size: 1.05em;
  font-weight: 300;
}

header nav ul li a:not(.btn a):hover {
  text-decoration: underline;
}

header nav .btn a{
  color: white;
  font-weight: 400;
}

/* Hero - Jumbotron */

.hero{
  background-color: #B4D0E7;

  /* da togliere */
   height: 735px;
}

.hero>div{
  width: 100%;
}

.hero>div .title{
  height: 45%;
  display:flex;
  align-items: center;
}

.hero h1{
  font-size: 4.8em;
  font-weight: 900;
  
  padding: 20px 5px 0 5px;
/*   padding-top: 80px;
  padding-bottom: 50px; */
}

.hero-bottom{
  display: flex;
  height: 55%;
  /* da togliere*/
/*   height: calc(735px - 10%);
 */}

.hero-bottom .hero-text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  width: 30%;
  padding: 5px;
}

.hero-bottom .hero-text *{
/*   margin-bottom: 30px;
 */}


.hero-bottom .hero-text p{
  font-size: 1em;
}

.hero-bottom .hero-text .btn a{
  color: white;
  text-decoration: none;
}

.hero-bottom .hero-text span{
  margin-bottom: 40px;
}


.hero-bottom .hero-text i{
  font-size: 3em;
}

.hero-bottom .hero-image{
  width: 70%;
}

.hero-bottom .hero-image img{
  width: 100%;
}


/* MAIN */

main h2{
  font-size: 2.5em;
}

/* section.piano */

main section:not(.faq){
  margin-top: 150px;
}

main section.piano{
  /* togliere */
  height: 1440px;
}

main section.piano>div{
  display: flex;
  flex-direction: column;
  gap: 50px;
}

main section.piano .top-section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 130px;
  width: 100%;
}

main section.piano .top-section .radio-btns i:first-of-type{
  color: #0061FF;
}

main section.piano .top-section .radio-btns label:first-of-type{
  padding-right: 40px;
}


main section.piano .row{
  display: flex;
  justify-content: space-between;
/*   gap: 50px; */
  height: 950px;
  width: 100%;
}

/* card */

main section.piano /* .row  */.card{
  border: 1px solid #D6D6D9;
  height: 100%;
  width: 30%;
}

main section.piano /* .row */ .card .top-card{
  border-bottom: 1px solid #D6D6D9;
  text-align: center;
  padding: 8px;
}

main section.piano /* .row */ .card .center-card,
.card .bottom-card{
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-size: .85em;

}

main section.piano /* .row  */.card .center-card{
  padding: 30px;
}

main section.piano .row .card .center-card .title h3{
  padding-bottom: 20px;
}

main section.piano /* .row */ .card .center-card .title .price{
  font-weight: 800;
}

main section.piano .row .card .center-card .title span:first-of-type{
  display: block;
  padding-bottom: 15px;
}

main section.piano .row .card .center-card .title span:last-of-type{
  color: grey;
}

main section.piano/*  .row */ .card .center-card h3{
  font-size: 1.5em;  
}

main section.piano .row .card .center-card ul,
.card .bottom-card ul{
  list-style: none;
}

main section.piano .row .card .center-card ul li,
.card .bottom-card ul li{
  display: flex;
  padding-bottom: 25px;
}

main section.piano .row .card .center-card ul li i,
.card .bottom-card ul li i{
  margin-right: 5px;
}

main section.piano .row .card .center-card .try{
}

main section.piano .row .card .center-card ul li a,
.card .bottom-card ul li a{
  color: black;
  text-decoration: none;
  font-weight: 300;
}

main section.piano .row .card .center-card .try .btn a{
  color: white;
  text-decoration: none;
}

main section.piano .row .card .center-card .try .btn{
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

main section.piano .row .card .center-card .try>a{
  color: #0061FF;
}

main section.piano .row .card .center-card .try span{
  color: black;
  border-bottom: 1px solid #D6D6D9;
  padding-bottom: 40px;
  display: inline-block;
}

.card .bottom-card{
  padding: 0px 30px;
}

.card .bottom-card h4{
  margin-bottom: -20px;
}

.card .bottom-card ul li i{
  color:#0061FF; 
}

main section.piano>div .card.alone{
  height: 260px;
  width: 100%;
}

main section.piano .card.alone .center-card{
  display: flex;
  flex-direction: row;
}

main section.piano .card.alone .center-card .center-left{
  width: 70%;
}

main section.piano .card.alone .center-card .center-left h3{
  margin-bottom: 20px;
}

main section.piano .card.alone .center-card .center-left p{
  padding-top: 40px;
  font-size: 1.1em;
}

main section.piano .card.alone .center-card .center-right{
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

main section.piano .card.alone .center-card .center-right .btn{
  padding: 10px 40px;
}

main section.piano .card.alone .center-card .center-right .btn a{
  color: white;
  text-decoration: none;
}

/* section.partner */

main section.partner{
  height: 510px;
}

main section.partner>div{
  display: flex;
}

main section.partner .partner-image{
  width: 60%;
  height: 100%;
}

main section.partner .partner-image img{
  width: 100%;
  min-width: 100px;
  object-fit: cover;
}


main section.partner .partner-text{
  width: 40%;
  height: 100%;
  padding: 60px 40px;
}

main section.partner .partner-text h3{
  font-size: 1.5em;
  margin-bottom: 20px;
}

main section.partner .partner-text p{
  font-weight: 400;
  margin-bottom: 30px;
}

main section.partner .partner-text .mono{
  border: 1px solid #131313;
  background-color: white;
}

main section.partner .partner-text .mono a{
  color: #131313;
  text-decoration: none;
}


/* section.operazioni */

main section.operazioni{
  height: 1160px;
}

main section.operazioni>div h2{
  height: 10%;
}

main section.operazioni>div .row{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 90%;
}

main section.operazioni>div .row .card-2{
  height: calc(100% / 2);
  width: calc(100% / 3);
}

main section.operazioni>div .row .card-2 .card-image{
  height: 45%;
}

main section.operazioni>div .row .card-2 .card-image img{
  height: 100%;
}

main section.operazioni>div .row .card-2 .card-text h3{
  font-size: 1.5em;
  padding: 20px 40px 40px 0px;
}

main section.operazioni>div .row .card-2 .card-text p{
  padding-right: 40px;
}

/* section.utilizzi */

main section.utilizzi{
  height: 200px;
}

main section.utilizzi>div{
  padding-right: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main section.utilizzi h2{
  font-size: 2.5em;
/*   margin-bottom: 60px;
 */}

main section.utilizzi a{
  color: blue;
}

/* section.partnership*/

main section.partnership{
  display: grid;
  grid-template-columns: auto auto auto;
}
/* 
.grid-item.center{
  background-color: #F5F5F5;

  display: flex;
  align-items: center;
  justify-content: center;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
}

.content>*{
  position: absolute;
  padding: 50px;
}

.grid-item.center .logo-designit{
  top: 50px;
  left: 50px;
  width: 25%;
}

.grid-item.center .logo-designit img{
  width: 100%;
}
 */

 .grid-item.center .content{
 /*  width: 85%;
  height: 85%;
  
  display: flex;
  justify-content: center;
  align-items: center; */
/*   position: relative;
 */  

 display: flex;
 justify-content: center;
 align-items: center;
 position: relative;
 width: 100%;
 aspect-ratio: 1/1;
 }

 .grid-item.center{
  background-color: #F5F5F5;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
/*   display: flex;
  align-items: center;
  justify-content: center; */
}

.grid-item.center .content>*{

  position: absolute;
  width: 85%;
  display: block;
  z-index: 1;
}

.grid-item.center .logo{
  
  height: 20%;
  top: 10%;
  
}
 
.grid-item.center .logo img{
  height: 70%;
}

.grid-item.center p{
  top: 30%;
}



.scroller {
  display: none;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}


.partner-grid{
  display: grid;
  grid-template-columns: auto auto;
}

.square{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: red;
  width: 100%;
  aspect-ratio: 1/1;
}

.square img{
  position: absolute;
  width: 50%;
  display: block;
  filter: brightness(0) invert(1);
  z-index: 1;
}

.square.green{
  background-color: #D1E9CD;
}

.border{
  width: calc(100% - 10%);
  height: calc(100% - 10%);
  background-color: #A2D39B;
  z-index: 1;
  
}

.square.brown{
  background-color: #61082B;
}

.square.light-blue{
  background-color: #0093CE;
}

.square.red{
  background-color: #FF1C1C;
}

.square.scarlato{
  background-color: #FF1C1C;
}

.square.featherbed{
  background-color: #B4D0E7;
}

.square.blue{
  background-color: #0D2481;
}

.square.yellow{
  background-color: #FFD830;
}
/* cta */

main .cta{
  height: 360px;
  background-color:#B4D0E7;
}

main .cta>div{
  display: flex;
  justify-content: center;
  align-items: center;
}

main .cta>div .content{
  height: 100px;
  width: 100%;

  display: flex;
  align-items: flex-start;
  justify-content:space-between
}

main .cta>div .content h2{
  width: 50%;
  color: #61082B;
}

main .cta>div .content .btn{
  padding: 10px 40px;
  background-color: white;
}

main .cta>div .content .btn a{
  color: black;
  font-weight: 300;
  text-decoration: none;
}


/* FAQ */

main section.faq{
  height: 725px;
}

main section.faq>div{
  display: flex;
  justify-content: center;
  align-items: center;
}

main section.faq>div .content h2{
  margin-bottom: 70px;
}

main section.faq>div .content{
  height: 420px;
  width: 100%;
}

main section.faq>div .content .questions{
  width: 100%;
  border-bottom: 1px solid black;
}

main section.faq>div .content .question{
  display: flex;
  justify-content: space-between;
  padding: 40px 40px 40px 0;
  border-top: 1px solid black;
}

/* FOOTER */

footer{
  height: 570px;
  background-color: #000000;
  color: white;
}

footer>div{

}

footer>div .footer-top{
  height: 80%;
  width: 100%;
  display: flex;
}

footer>div .footer-top nav{
  width: 20%;
  height: 100%;
  padding: 100px 20px 0 0;
}

footer>div .footer-top nav h3{
  font-size: 1.5em;
  margin-bottom: 30px;
}


footer>div .footer-top nav ul{
  list-style: none;
}

footer .footer-top nav ul li{
  margin-bottom: 15px;
}

footer .footer-top nav ul li a{
  color: white;
  text-decoration: none;
}

footer .footer-top nav ul li a:hover{
  text-decoration: underline;
}

footer>div .footer-bottom{
  
  height: 20%;
  width: 100%;
  color: grey;
}

footer>div .footer-bottom .language{
  display: inline-flex;
  align-items: center;
  height: 100%;
  border-top: 1px solid white;
  padding-right: 20px; 
} 


