@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* GENERAL */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Noto Sans', sans-serif;
  padding-top: 80px;
}

.btn{
  padding: 10px 16px;
  background-color: #0061FF;
  display: inline-block;
}

/* utils */ 

.container{
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  /* togliere */
  height: 100%;
}

.container-2{
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  /* togliere */
  height: 100%;
}

.debug{
  border: 1px solid firebrick;
  background-color:bisque;
}

.d-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* HEADER */

header{
  background-color: white;
  height: 80px;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  box-shadow: 0 1px 3px grey;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

header nav .btn,
header nav .logo{
  display: inline;
}

header nav ul li a {
  color: #131313;
  text-decoration: none;
  font-size: 1.05em;
  font-weight: 300;
}

header nav ul li a:not(.btn a):hover {
  text-decoration: underline;
}

header nav .btn a{
  color: white;
  font-weight: 400;
}

/* Hero - Jumbotron */

.hero{
  background-color: #B4D0E7;

  /* da togliere */
   height: 735px;
}

.hero>div{
  width: 100%;
}

.hero>div .title{
  height: 45%;
  display:flex;
  align-items: center;
}

.hero h1{
  font-size: 4.8em;
  font-weight: 900;
  
  padding: 20px 5px 0 5px;
/*   padding-top: 80px;
  padding-bottom: 50px; */
}

.hero-bottom{
  display: flex;
  height: 55%;
  /* da togliere*/
/*   height: calc(735px - 10%);
 */}

.hero-bottom .hero-text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  width: 30%;
  padding: 5px;
}

.hero-bottom .hero-text *{
/*   margin-bottom: 30px;
 */}


.hero-bottom .hero-text p{
  font-size: 1em;
}

.hero-bottom .hero-text .btn a{
  color: white;
  text-decoration: none;
}

.hero-bottom .hero-text span{
  margin-bottom: 40px;
}


.hero-bottom .hero-text i{
  font-size: 3em;
}

.hero-bottom .hero-image{
  width: 70%;
}

.hero-bottom .hero-image img{
  width: 100%;
}


/* MAIN */

main h2{
  font-size: 2.5em;
}

/* section.piano */

main section{
  margin-top: 150px;
}

main section.piano{
  /* togliere */
  height: 1440px;
}

main section.piano>div{
  display: flex;
  flex-direction: column;
  gap: 50px;
}

main section.piano .top-section{
  height: 130px;
  width: 100%;
}

main section.piano .row{
  display: flex;
  justify-content: space-between;
/*   gap: 50px; */
  height: 950px;
  width: 100%;
}

main section.piano .row .card{
  height: 100%;
/*   width: 300px;
 */ /*  width: calc(100% / 3); */
  width: 30%;
}

main section.piano>div .card.alone{
  height: 260px;
  width: 100%;
}

/* section.partner */

main section.partner{
  height: 510px;
}

main section.partner>div{
  display: flex;
}

main section.partner .partner-image{
  width: 60%;
  height: 100%;
}

main section.partner .partner-text{
  width: 40%;
  height: 100%;
}

/* section.operazioni */

main section.operazioni{
  height: 1160px;
}

main section.operazioni>div h2{
  height: 10%;
}

main section.operazioni>div .row{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 90%;
}

main section.operazioni>div .row .card-2{
  height: calc(100% / 2);
  width: calc(100% / 3);
}

/* section.utilizzi */

main section.utilizzi{
  height: 200px;
}

/* section.partnership*/

main section.partnership{
  display: flex;
  height: 640px;
}

main section.partnership .companies-left,
main section.partnership .companies-right{
  display: flex;
  flex-wrap: wrap;
  width: 33%;
  height: 100%;
}
main section.partnership .text-center{
  width: 34%;
  height: 100%;
}

main section.partnership .square{
  width: 50%;
  height: 50%;
}

/* cta */

main .cta{
  height: 360px;
  background-color:#B4D0E7;
}

main .cta>div{
  display: flex;
  justify-content: center;
  align-items: center;
}

main .cta>div .content{
  height: 100px;
  width: 100%;
}

/* FAQ */

main section.faq{
  height: 725px;
}

main section.faq>div{
  display: flex;
  justify-content: center;
  align-items: center;
}

main section.faq>div .content{
  height: 420px;
  width: 100%;
}

/* FOOTER */

footer{
  height: 570px;
  background-color: #000000;
  color: white;
}

footer>div{

}

footer>div .footer-top{
  height: 80%;
  width: 100%;
  display: flex;
}

footer>div .footer-top nav{
  width: 20%;
  height: 100%;
  padding: 100px 20px 0 0;
}

footer>div .footer-top nav h3{
  font-size: 1.5em;
  margin-bottom: 30px;
}


footer>div .footer-top nav ul{
  list-style: none;
}

footer .footer-top nav ul li{
  margin-bottom: 15px;
}

footer .footer-top nav ul li a{
  color: white;
  text-decoration: none;
}

footer .footer-top nav ul li a:hover{
  text-decoration: underline;
}

footer>div .footer-bottom{
  
  height: 20%;
  width: 100%;
  color: grey;
}

footer>div .footer-bottom .language{
  display: inline-flex;
  align-items: center;
  height: 100%;
  border-top: 1px solid white;
  padding-right: 20px;
}


